<div id="consent-notice"><span>We would like to use <a class="manage-consent" href="#manage-consent">third party code</a> to improve the functionality of this website.</span><button class="btn manage-consent">Manage preferences</button><button class="btn deny-consent">Deny</button><button class="btn approve-consent">Allow</button></div>
<div id="consent-overlay">
    <div>
        {{ range $index, $item := .Site.Data.consent.items }}
            <div>
                <input type="checkbox" id="item{{ $index }}" value="1" name="item{{ $index }}" {{ if $item.is_functional }}checked disabled{{ end }} />
                <label for="item{{ $index }}">
                    <h3>{{ $item.title }}</h3>
                    <p>{{ $item.description }}</p>
                </label>
            </div>
        {{ end }}
        <div>
            <button id="save-consent" class="btn save-consent" data-consentvalue="{{ range $index, $item := .Site.Data.consent.items }}{{ if $item.is_functional}}{{ else }}0{{ end }}{{ end }}">Save preferences</button>
            <button class="btn approve-consent">Allow all</button>
        </div>
    </div>
</div>
<script src="scripts/js/consent.js">
    const scripts = [];{{ range $index, $item := ( where .Site.Data.consent.items "is_functional" false) }}"scripts/js/ga.js";{{ end }}
</script>
{{ range $index, $item := .Site.Data.consent.items }}
    {{ if $item.is_functional }}
        <script type="text/javascript" src="/js/{{ $item.script_file }}"></script>
    {{ end }}
{{ end }}